@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 75px;
  /* background: #262626; */
  background: rgb(165, 164, 164);
}

img {
  object-fit: cover;
}

.post {
  view-timeline-name: --fade;
  view-timeline-axis: block;
  animation-timeline: --fade;

  animation-name: show;
  animation-fill-mode: both;
  animation-range: entry 10% cover 50%;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
